<div class="inner-banner">
    <img src="assets/images/inner-banner-projectengineering.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>SOFTWARE ENGINEERING</h1>
                    <h6>{{tabName}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="manage-service-tab inner-nav-tab">
    <div class="tab-navigation">
        <div class="col-sm-12">
            <div class="container">
                <ul ngbNav #nav="ngbNav" [activeId]="tabIndex" class="nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink (click)="title(1)">Product Engineering</a>
                        <ng-template ngbNavContent>
                            <section class="section-project-engineering">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="running-text">
                                                Competitive pressures, reduced time-to-market, increased demands of
                                                customers, and globalization are
                                                driving global product companies to explore the offshore route. A
                                                reliable offshore partner can play
                                                a key role from concept to the launch of the product. Product companies
                                                have increased their
                                                competitive advantage by partnering with offshore players for product
                                                development.
                                            </p>
                                            <p>
                                                We have been involved in architecting and building .NET driven business
                                                solutions right from the
                                                inception. Our .NET CoE has proven expertise in building world class
                                                products using the latest
                                                Microsoft®  and standards. Our knowledge of Microsoft® .NET
                                                 and product
                                                development methodologies enables us to work with customers across
                                                domains and successfully address
                                                their functional, usability, performance and scalability requirements.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="methodologies">
                                <img src="assets/images/managservice/methodologies.jpg" >
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 center">
                                            <h1>Our Methodology</h1>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <ul class="panel-container">

                                            <li *ngFor="let item of solution; index as i">
                                                <div class="icon-circle">
                                                    <i class="icon icon-medium">
                                                        <svg focusable="false">
                                                            <use attr.xlink:href="{{item.icon}}"></use>
                                                        </svg>
                                                    </i>
                                                </div>
                                                <h6>{{item.title}}</h6>
                                                <ul class="info-bar">
                                                    <li>
                                                        {{item.info}}
                                                    </li>
                                                </ul>

                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </section>

                            <section class="engeering-grap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                <img src="assets/images/managservice/engeering-grap.jpg" align="right">
                                                <span class="running-text">
                                                We practice agile development methodologies to help you take advantage
                                                of emerging market
                                                opportunities. We develop software in time-boxed iterations; each
                                                iteration is a discrete project
                                                encompassing all the PDLC stages. Our agile software project is capable
                                                of releasing standalone
                                                working software at the end of each iteration.
                                                </span>
                                                <br><br>
                                                Our solution architects also help you realize your vision of services
                                                based products through
                                                implementation of the Service Oriented Architecture (SOA) approach. They
                                                provide consulting,
                                                implementation, and re-engineering of existing product architectures
                                                using the SOA framework<br><br>

                                                The software products industry depends on bringing new concepts, new
                                                versions and new features to
                                                the market quickly. At the same time, development costs must be low,
                                                predictable, and flexible. We
                                                can help you address these daunting and seemingly conflicting
                                                requirements for software products.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>


                            <section class="our-services-section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="container our-services">
                                            <div class="row">
                                                <div class="col-md-4 col-lg-4 col-sm-12 triangle">
                                                    <div class="v-center">
                                                        <div class="logo-circle">
                                                            <i class="icon icon-large">
                                                                <svg focusable="false">
                                                                    <use xlink:href="#icon_logoFlat"></use>
                                                                </svg>
                                                            </i>
                                                        </div>
                                                        <h5>
                                                            thriveworld <br>
                                                            Services
                                                        </h5>
                                                    </div>
                                                </div>

                                                <div class="col-md-8 col-lg-8 col-sm-12 v-flex">
                                                    <ul>
                                                        <li>
                                                            Robust version design
                                                        </li>
                                                        <li>
                                                            Cross-platform architecture
                                                        </li>
                                                        <li>
                                                            Wide variety of integration requirements
                                                        </li>
                                                        <li>
                                                            Comprehensive packaging
                                                        </li>
                                                        <li>
                                                            Support over a range of environments
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </section>


                            <section class="engeering-grap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                Our solution architects also help you realize your vision of services
                                                based products through
                                                implementation of the Service Oriented Architecture (SOA) approach. They
                                                provide consulting,
                                                implementation, and re-engineering of existing product architectures
                                                using the SOA framework
                                                <br> <br>
                                                The software products industry depends on bringing new concepts, new
                                                versions and new features to
                                                the market quickly. At the same time, development costs must be low,
                                                predictable, and flexible. We
                                                can help you address these daunting and seemingly conflicting
                                                requirements for software products.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </ng-template>
                    </li>

                    <li [ngbNavItem]="2">
                        <a ngbNavLink (click)="title(2)">Application Development</a>
                        <ng-template ngbNavContent>
                            <div class="container app-development">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>
                                            <img src="assets/images/managservice/app-dev-met.jpg" align="right">
                                            <span class="running-text">
                                            thriveworld has a well-defined and mature application development service
                                            offering. thriveworld application development model covers all phases of the
                                            Software Development Life Cycle (SDLC), beginning with transforming business
                                            requirements into project functional requirements, development, quality,
                                            testing, implementation, training and application support. Our distributed
                                            delivery methodology effectively leverages the onsite subject matter
                                            expertise and the offshore development teams, resulting in cost-effective
                                            solutions. Each of the development phases can be defined with metrics and
                                            subsequently tracked with the monitoring tools and well defined project
                                            management and execution processes.
                                        </span>
                                        <br>
                                        <br>
                                            thriveworld provides outsourced software development services for in-house
                                            applications, across the project lifecycle. We partner with you from
                                            internal proposals and budgeting, through project approvals, all the way to
                                            delivery, training, maintenance and support. Our flexible offshore software
                                            development model allows companies to maximize their ROI, while maintaining
                                            complete control over projects.
                                            <br>
                                            <br>
                                            
                                            At each stage of the application development cycle we bring people, process
                                            and technology expertise to pro-actively guide you through the challenges of
                                            meeting application requirements within budget, time and quality. A key
                                            aspect of thriveworld's application development methodology is the early and
                                            extensive use of screen mockups or wireframes. In our experience, mockups
                                            and wireframes speed up initial approvals, improve the reliability of
                                            requirements gathering and documentation, and greatly enhance user
                                            acceptance and utilization of the delivered application.

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <section class="about-key-diff">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-md-8 col-lg-8 col-sm-12">
                                            <h1>Key Differentiators</h1>
                                            <ul>
                                                <li *ngFor="let key of keydiff">
                                                    {{key.list}}
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-4 col-lg-4 col-sm-12 v-flex">
                                            <img src="assets/images/managservice/key-difference.png">
                                        </div>

                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                Systems modelling with analysis and design using UML tools Customers can
                                                be rest assured that thriveworld will provide technical follow-through
                                                during the planning, design, development and deployment of every
                                                project. It also offers on-going management, maintenance and monitoring
                                                of all developed applications and the systems they run on.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </ng-template>
                    </li>

                    <li [ngbNavItem]="3">
                        <a ngbNavLink (click)="title(3)">UX/UI Development</a>
                        <ng-template ngbNavContent>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="running-text"> 
                                            thriveworld is a rapidly growing professionally managed organization with
                                            competent and qualified brass at the helm of the affairs. The organization
                                            is making its presence felt on the engineering solution and services,
                                            Staffing and IT training circuit. Equipped with cross cultural operating
                                            experience; an asset, it drives the organization to deliver nothing but the
                                            best.
                                        </p>
                                        <p>
                                            We specialize in improving operational performance and IT delivery.
                                            We do this by improving the way our clients use people, processes and
                                            . Here is the place to envision, discover and fulfil your
                                            technology needs.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <section class="ui-ux-info">
                                <div class="container">
                                    <div class="row">
                                        <div *ngFor="let item of uiUxInfo" class="col-md-4 col-lg-4 col-sm-12">
                                            <div class="panel center">
                                                <div class="panel-heading">
                                                    <div class="icon-circle">
                                                        <i class="icon icon-large">
                                                            <svg focusable="false">
                                                                <use attr.xlink:href="{{item.icon}}"></use>
                                                            </svg>
                                                        </i>
                                                    </div>
                                                    <h5>{{item.title}}</h5>
                                                </div>
                                                <div class="panel-body">
                                                    <p>{{item.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="ui-ux-process">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 center">
                                            <h1>UX/UI Development Process</h1>
                                        </div>
                                    </div>
                                   
                                    <div class="col-lg-9 col-md-9 col-sm-12 div-center">
                                        <div class="row">
                                   
                                    <div class="row">

                                        <div class="col-md-3 col-lg-2 col-sm-12">
                                            <div class="icon-circle">
                                                <i class="icon icon-large">
                                                    <svg focusable="false">
                                                        <use xlink:href="#icon_strategy"></use>
                                                    </svg>
                                                </i>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-lg-10 col-sm-12">
                                            <h6>UX/UI Development Process</h6>
                                            <p>Business requirements define the value proposition of a product. They are
                                                the answers to why a new product is requested. As the visualized form of
                                                requirements, user interface designs should be also based on business
                                                requirements to satisfy the strategic level objectives of creating that
                                                product.</p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-9 col-lg-10 col-sm-12">
                                            <h6>Understand your Users</h6>
                                            <p>"Designing for everybody" is not a feasible and effective strategy in
                                                terms of usability. Interfaces of a product are usable if they are good
                                                fit for its users. Thus user interface design should be based on the
                                                profile of target user groups.</p>
                                        </div>

                                        <div class="col-md-3 col-lg-2 col-sm-12">
                                            <div class="icon-circle">
                                                <i class="icon icon-large">
                                                    <svg focusable="false">
                                                        <use xlink:href="#icon_understanding"></use>
                                                    </svg>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2 col-sm-12">
                                            <div class="icon-circle">
                                                <i class="icon icon-large">
                                                    <svg focusable="false">
                                                        <use xlink:href="#icon_product"></use>
                                                    </svg>
                                                </i>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-lg-10 col-sm-12">
                                            <h6>Define your Requirements & Content</h6>
                                            <p>User interfaces are composed not only of functional requirements (tasks)
                                                but also of content requirements. Therefore, in parallel to interaction
                                                design (based on functional requirements), the information architecture
                                                (based on content requirements) should be also designed. The main
                                                objective of information architecture design is to identify content
                                                requirements, define content categories, and finalize the navigation
                                                structures.</p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-9 col-lg-10 col-sm-12">
                                            <h6>Shape your Product</h6>
                                            <p>Our UX designers then convert interaction designs and information
                                                architectures into user interfaces by applying UX design and usability
                                                principles and guidelines. They design low-fidelity prototypes by
                                                sketching or using prototyping tools. Then our Visual designers convert
                                                low-fidelity prototypes into high-fidelity visual designs with the most
                                                aesthetic color, metaphor, and font selections.</p>
                                        </div>

                                        <div class="col-md-3 col-lg-2 col-sm-12">
                                            <div class="icon-circle">
                                                <i class="icon icon-large">
                                                    <svg focusable="false">
                                                        <use xlink:href="#icon_value"></use>
                                                    </svg>
                                                </i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                                </div>
                            </section>

                        </ng-template>
                    </li>

                    <li [ngbNavItem]="4">
                        <a ngbNavLink (click)="title(4)">Software Testing & QA</a>
                        <ng-template ngbNavContent>
                            <div class="container qa-testing">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="running-text"> 
                                            thriveworld is committed to providing high-quality software solutions to its clients. Therefore we take a serious approach to the testing process and quality assurance of the solutions that are developed either by our development team or your existing or new applications. The current techniques and approaches applied to software testing help identify and prevent occurrence of the problems associated with the improper functionality, low reliability, productivity, scalability and other defects of the applications.
                                        </p>
                                        <p class="v-flex">
                                            We have robust testing processes and frameworks that can seamlessly plug and play at any stage of the software and product development life cycle to provide you the flexible scale and repeatability in meeting demanding quality requirements and go-live schedules.<br><br>
                                            Our strong belief is to form a QA team in the initial stage of the development phase; this undoubtedly helps reduce the risks of fixing global bugs in later stages. The QA engineers are involved in the development process right off the mark: they are provided with the available documentation, acquainted with the business processes that are to be implemented in the project and technical specifications requested by the client. On the basis of the provided resources our engineers develop a testing plan that meets all the mentioned requirements. It defines the scope of testing and documents the process of quality assurance.
                                            <img src="assets/images/managservice/qa-testing.png" align="right">
                                        </p>
                                        <p class="running-text manage-space">thriveworld helps with critical aspects of clients' systems, such as planning, process control, performance metrics, test automation, test execution, defect tracking, and reporting.
                                        </p>
                                    </div>
                                    <div *ngFor="let data of qaInfo" class="col-lg-6 col-md-6 col-sm-12 qa-info">
                                        <div class="panel">
                                                <div class="panel-heading">
                                                   <h6>{{data.title}}</h6>
                                                </div>
                                                <div class="panel-body">
                                                    <p>{{data.info}}</p>
                                                </div>
                                         </div>
                                    </div>

                                </div>

                                <div class="row qa-testing-info">
                                  <div class="col-md-4 col-lg-4 col-sm-12 v-flex">
                                        <div class="icon-circle">
                                            <i class="icon icon-large">
                                                <svg focusable="false">
                                                    <use xlink:href="#icon_seeting3"></use>
                                                </svg>
                                            </i>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-lg-8 col-sm-12">
                                        <h6>Functional Testing</h6>
                                        <p>Functional testing is done using the functional specifications provided by the client or by using the design specifications like use cases provided by the design team. Functional testing validates that an application conforms to its specifications and meets its expected functional requirements. During functionality testing, a range of inputs as test data is created and tests are performed to validate if whether each feature conforms to the requirements.
                                        </p>
                                        
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <ul class="row qa-test-info">
                                                    <li *ngFor="let data of qafunctionTest" class="col-md-6 col-lg-6 col-sm-12">
                                                        {{data.info}}
                                                    </li>
                                                </ul>
                                            </div> 
                                        </div>

                                    </div>

                                </div>

                                <div class="row qa-testing-info">
                                    
                                      <div class="col-md-8 col-lg-8 col-sm-12">
                                          <h6>Non-Functional Testing</h6>
                                          <p>Testing the application against client's performance requirement; Non-Functioning testing is done based on the requirements and test scenarios defined by the client.
                                          </p>
                                          
                                          <div class="row">
                                              <div class="col-sm-12">
                                                  <ul class="row qa-test-info">
                                                      <li *ngFor="let data of qanonfunctionTest" class="col-md-6 col-lg-6 col-sm-12">
                                                          {{data.info}}
                                                      </li>
                                                  </ul>
                                              </div> 
                                          </div>
  
                                      </div>

                                      <div class="col-md-4 col-lg-4 col-sm-12 v-flex">
                                        <div class="icon-circle">
                                            <i class="icon icon-large">
                                                <svg focusable="false">
                                                    <use xlink:href="#icon_seeting1"></use>
                                                </svg>
                                            </i>
                                        </div>
                                    </div>
  
                                  </div>

                                  <div class="row qa-testing-info">

                                        <div class="col-sm-12">  
                                            <h6>Automation Lab</h6>
                                            <p>thriveworld has a special focus on software test automation using market standard tools. thriveworld approaches automation design and development as a software development project in itself; to create an automated testing solution that is flexible enough to adapt to changes in your application and that will not need much rewriting for each new build. thriveworld test automation experts will ensure your tool investment is put to good use and will build automation skills into your organization for future re-usability and maintainability.
                                            </p>
                                        </div>
                                   

                                    <div class="col-md-4 col-lg-4 col-sm-12 v-flex">
                                          <div class="icon-circle">
                                              <i class="icon icon-large">
                                                  <svg focusable="false">
                                                      <use xlink:href="#icon_seeting2"></use>
                                                  </svg>
                                              </i>
                                          </div>
                                      </div>
                                      <div class="col-md-8 col-lg-8 col-sm-12">

                                       
 <p>It is important to consider automation of the test environment as early as possible and design it into the system from the outset. It's also important to recognize that automation is not appropriate for every project or for all testing on any particular project.
<br><br>
    thriveworld can help you achieve this balance so that the benefit from test automation at the right time and in the right way. Some of the automation focus areas' are:
                                          </p>
                                          
                                          <div class="row">
                                              <div class="col-sm-12">
                                                  <ul class="row qa-test-info">
                                                      <li *ngFor="let data of qalabfunctionTest
                                                      " class="col-md-6 col-lg-6 col-sm-12">
                                                          {{data.info}}
                                                      </li> 
                                                  </ul>
                                              </div> 
                                          </div>
  
                                      </div>
  
                                  </div>

                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div [ngbNavOutlet]="nav"></div>


</section>