<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12 copyright-note">
                <h5> Thrive Therapeutic Pvt Ltd</h5>
                <!-- <div class="logo">
                   <i class="icon icon-small">
                        <svg focusable="false">
                            <use xlink:href="#icon_logoFlat"></use>
                        </svg>
                      </i>
                </div> -->
                <p>
                    thriveworld is a rapidly growing professionally managed organization with competent and qualified brass at the helm of the affairs. The organization is making its presence felt on the engineering solution and services, Staffing and IT training circuit. Equipped with cross cultural operating experience; an asset, it drives the organization to deliver nothing but the best.
                </p>

                <p class="copyright">
                    <span>All rights reserved by Thrive Therapeutic Pvt Ltd.</span>
                </p>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-12">
                <h5>Quick Links</h5>
                <ul class="footer-li">
                    <li>
                        <a routerLink="OurProduct?" routerLinkActive="active" skipLocationChange=true>Our
                            Product</a>
                    </li>
                    <li>
                        <a routerLink="Advancesolution?" routerLinkActive="active" skipLocationChange=true>Innovation</a>
                    </li>
                    <li>
                        <a routerLink="ManagedServices?" routerLinkActive="active" skipLocationChange=true>Our Business</a>
                    </li>
                    <li>
                        <a routerLink="Company?" routerLinkActive="active" skipLocationChange=true>COMPANY</a>
                    </li>
                    <li>
                        <a routerLink="Career?" routerLinkActive="active" skipLocationChange=true>CAREER</a>
                    </li>
                    <li>
                        <a routerLink="Contactus?" routerLinkActive="active" skipLocationChange=true>CONTACT US</a>
                    </li>
                </ul>
                <div class="social-net">

                    <ul>
                        <li><a href="https://www.facebook.com" target="_blank">
                                <i class="icon icon-ex-small">
                                    <svg focusable="false">
                                        <use xlink:href="#icon_facebook"></use>
                                    </svg>
                                </i>
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com" target="_blank">
                                <i class="icon icon-ex-small">
                                    <svg focusable="false">
                                        <use xlink:href="#icon_instagram"></use>
                                    </svg>
                                </i>
                            </a>
                        </li>
                        <li><a href="https://www.twitter.com" target="_blank">
                                <i class="icon icon-ex-small">
                                    <svg focusable="false">
                                        <use xlink:href="#icon_twitter"></use>
                                    </svg>
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-5 col-md-3 col-sm-12 map">
                    <img src="assets/images/map.png" alt="Map">
             </div>
        </div>
    </div>
    <!-- /.container -->
</footer>