.section-staffing{
    padding:0 0 70px;
    p{
        margin:0;
        padding:0;
    }
.col-sm-12{
    &:not(:first-child){
        padding-top:30px;
    }  
}
}

ul.info-bar{
    margin-left: 5px;
    align-self: center;
    li{
        padding: 0 0 10px 20px;
        list-style: none outside;
        font-size: 16px;
        position: relative;
        font-weight: bold;
        &::before{
            content: " ";
            background: #214f7a;
            font-weight: bold;
            position:absolute;
            top:8px;
            left:0px;
            width: 10px;
            height:10px;
            border-radius: 50%;
            margin-right: 10px;
        }
        p{
            font-weight: normal;
        }
    }
}

.services-provided{
    padding-top:0;
    .panel{
        position: relative;
        border:1px solid #ccc;
        margin-top:30px;
        .panel-footer{
            position: absolute;
            bottom: 25px;
            width: 100%;
            .btn{
                background:rgba(255, 255, 255, 0.8);
                color:#555;
                display: block;
                margin:0 auto;
            }
        }
    } 

}

.comp-methodology{
    ul.info-bar{
        li{
           &::before{
               background:none;
               border:1px solid #214f7a;
           }
        }
    } 
}

.best-staffing, .values{
    margin-top:40px;
    margin-bottom:40px;
}
.features{
   .info-bar{
    margin-left:20px;
   }
   &+ .features{
       margin-top:20px;
   }
}


