<div class="inner-banner">
    <img src="assets/images/inner-banner-projectengineering.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>Sitemap</h1>
                    <h6>Under Construction</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="assets/images/underconstruction.png">
        </div>
    </div>
</div>
</section>