<div class="inner-banner">
    <img src="assets/images/inner-banner-technology.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>Technology</h1>
                    <h6>Transforming industries with smarter ways</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-advance-solution">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-9 col-sm-12 div-center center">
                <p>
                    <b>thriveworld is a rapidly growing professionally managed organization with competent and qualified brass at the helm of the affairs. The organization is making its presence felt on the engineering solution and services, Staffing and IT training circuit. Equipped with cross cultural operating experience; an asset, it drives the organization to deliver nothing but the best.
                    </b>
                    <br><br>
                    Over the years we have built up a solid team of software professionals that come from different backgrounds & enlarge the creative potential of thriveworld. The competence that they offer contains a wide range of custom programming skills including the latest and most effective development in Microsoft .

                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>
                    Key Differentiators
                </h3>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12">
                <ul>
                    <li>
                        We provide custom application programming services to end customers.
                    </li>
                    <li>
                        Our competence and experience ensure that we provide excellent services and products to our
                        customers.
                    </li>
                    <li>
                        At every stage of the development process, from conceptual design to product release, the
                        highest quality standards are maintained.
                    </li>
                    <li>
                        Our extensive communication facilities allow us to keep in touch with our customers 24X7.
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    Ever-growing demand for Web Application solutions is driven by rapidly changing market conditions
                    and technology progress. To streamline your business, we address those issues with our Internet and
                    Intranet solutions. In addition we also provide you web / animation design services.<br><br>

                    Along with the engineering solution and services thriveworld is specialized in helpings client
                    organizations identify, evaluate, and recruit executives at various levels. It comprises of
                    well-qualified group of people having faith in camaraderie and serving the industry to find the
                    solutions to various key areas as Staffing, Executive Search and IT training.<br><br>

                    In addition thriveworld specializes in a bunch of IT training services for corporate, institutions and
                    individuals. We do organize corporate training programs for industry officials who find it difficult
                    to mingle their expertise with latest IT tools and IT based technology. We do impart IT training for
                    graduates in multiple discipline including computer application, hard core technology, business
                    administration, and individuals who are in the mid of their management education.
                </p>
            </div>
        </div>
    </div>
</section>