ul{
    li{
        a{
            padding:15px;
            margin-bottom:15px;
            background:#e5e5e5;
            color:#333333;
            display:block;
            &.active{
                background:#214f7a;
                color:#fff;
            }
          }
    }
}

section{
    &:nth-child(3){
        background:#e5f0fa;
        ul{
            margin-left:20px;
            li{
                font-size:18px;
                list-style-type: disc;
                margin-top:15px;
               
            }
        }
    }
}