<div class="inner-banner">
    <img src="assets/images/inner-banner-news.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>News Update</h1>
                    <h6>News, Press release and Media reports</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-news inner-nav-tab">
    <div class="tab-navigation">
        <div class="col-sm-12">
            <div class="container">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>News</a>
                        <ng-template ngbNavContent>

                            <section>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                    <li *ngFor="let data of news; index as i" class="p2 grid-li">
                        <div class="panel">
                            <div class="panel-heading">
                                <img src={{data.img}}-{{i+1}}.jpg alt="{{data.subtitle}}">
                            </div>
                            <div class="panel-body">
                                <p><b>{{data.desc_1}}</b></p>
                                <p>{{data.desc_2}}</p>
                            </div>
                        </div>
                    </li>
            </div>
        </div>
    </div>
</section>

<section class="news-video">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zmEG-5zEmPw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

                <h6 class="center">
                    thriveworld  has a very ambitious plan for future and we are looking for energetic,
                    motivated, ambitious team players who relish the challenge of joining a growing business in the
                    field of IT, Resourcing and Training. You will have the opportunity to grow professionally and
                    financially.
                </h6>
            </div>
        </div>
    </div>
</section>
</ng-template>
</li>
<li [ngbNavItem]="2">
    <a ngbNavLink>Events</a>
    <ng-template ngbNavContent>

    </ng-template>
</li>
<li [ngbNavItem]="3">
    <a ngbNavLink>Webinars</a>
    <ng-template ngbNavContent>

    </ng-template>
</li>
<li [ngbNavItem]="4">
    <a ngbNavLink>Press Releases</a>
    <ng-template ngbNavContent>
        <div class="press-release-section">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 col-md-10 div-center center">
                            <p class="running-text">
                                A great leader's courage to fulfill his vision comes from passion, not position.
                            </p>
                            <p>
                                At thriveworld, we all aspire to be tomorrow's leader. Individually we are pathfinders and
                                collectively we are a doer (achiever).
                                <br>
                                We are passionate about everything that we do and so do it the best way.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="press-release-info">

                <div class="container">
                    <div class="row">

                        <div class="col-sm-12" *ngFor="let info of pressRelease; index as i">
                            <p>
                                <span class="span">
                                    <img class="div-{{i+1}}" src="assets/images/leadership/person{{i+1}}.png"
                                        align="{{info.align}}">
                                    <span class="title-name">{{info.name}}</span>
                                    <span class="title-info">{{info.info}}</span>
                                </span>

                                <span class="v-text-align">
                                    <p>
                                        {{info.desc}}
                                    </p>
                                </span>
                            </p>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </ng-template>
</li>
<li [ngbNavItem]="5">
    <a ngbNavLink>Video Gallery</a>
    <ng-template ngbNavContent>
        <section class="video-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="video">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zmEG-5zEmPw"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="video">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zmEG-5zEmPw"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="video">
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zmEG-5zEmPw"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="video"> 
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zmEG-5zEmPw"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-template>
</li>
</ul>

</div>
</div>
</div>
<div [ngbNavOutlet]="nav" class="mt-4"></div>
</section>