<!-- <app-inner-page-header></app-inner-page-header> -->
<div class="inner-banner">
    <img src="assets/images/inner-banner-contact.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>We Are Here For You</h1>
                    <h6>Hello. What can we help you with?</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-contact">
    <div class="container">
        <div class="row">
            <div *ngFor="let data of contactInfo" class="col-lg-4 col-md-4 col-sm-12 contact-emails">
                <div class="panel">
                    <div class="panel-heading">
                        <h5>{{data.title}}</h5>
                    </div>
                    <div class="panel-body">
                        <div>
                            <i class="icon icon-medium">
                                <svg focusable="false">
                                    <use attr.xlink:href="{{data.icon}}"></use>
                                </svg>
                            </i>
                        </div>
                        <div>
                            <p>{{data.subtitle}}</p>
                        <a href="mailto:{{data.id}}">{{data.id}}</a>
                        <p>{{data.phone}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-10 div-center">
                <form>
                    <h1 class="center">Feel free to contact...</h1>
                    <div class="row form-group">
                        <div class="col">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" name="name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="yourMail" placeholder="Your Mail"
                                name="yourMail">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="country" placeholder="Country" name="country">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message"
                            rows="5"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                    <button type="submit" class="btn btn-warning">RESET</button>
                </form>
            </div>


            <div *ngFor="let data of getTouch; index as i" class="col-lg-4 col-md-4 col-sm-12 contact-address">
                <div class="panel" (click)="changeMap(data.subtitle)" 
                [ngClass]="{'active' : activMap === 'data.subtitle'}">
                    <div class="panel-heading">
                        <img src="assets/images/contact-{{i+1}}.jpg" alt="{{data.subtitle}}">
                    </div>
                    <div class="panel-body">
                        <h5>{{data.subtitle}}</h5>
                        <p>{{data.street_1}}</p>
                        <p>{{data.street_2}}</p>
                        <p>{{data.state}}</p>
                        <p>{{data.contact}}</p>
                        <p>{{data.id}}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

   <div class="mapouter">
        <div class="gmap_canvas">
            <iframe
            src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rajshree+industrial+estate,+Manpada,Thane+(W)+400607+Mumbai,India&amp;aq=&amp;sll=19.237522,72.979925&amp;sspn=0.045949,0.084028&amp;ie=UTF8&amp;hq=Rajshree+industrial+estate,+Manpada,Thane+(W)+400607+Mumbai,India&amp;t=m&amp;cid=3788170945965281765&amp;hnear=&amp;ll=19.237496,72.980289&amp;spn=0.014587,0.023947&amp;z=14&amp;iwloc=A&amp;output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
           
        </div>
    </div>
</section>