<div class="inner-banner">
    <img src="assets/images/inner-banner-manage-service.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>Managed Services</h1>
                    <h6>Softwares : Data Life-cycle Management : IT Staffing & Training</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-manage-service">
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
        <h6 class="center career">
            thriveworld is a rapidly growing professionally managed organization with competent and qualified brass at the helm of the affairs. The organization is making its presence felt on the engineering solution and services, Staffing and IT training circuit. Equipped with cross cultural operating experience; an asset, it drives the organization to deliver nothing but the best.        </h6>
        
            <h5>
                thriveworld  provide following services
            </h5>
        
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
         <ul>
               <li>
                Product Engineering
               </li>
               <li>
                Application Development
                </li>
               <li>
                UX/UI Development
                </li>
               <li>
                Software Testing & QA
                </li>
               <li>
                Cleanse Dataset
               </li>
               <li>
                Data Mapping & Conversion
                </li>
               <li>
                Staffing Servicesdevelopment.
               </li>
           </ul>
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="assets/images/manage-service-1.png">
        </div>
    </div>

 <div class="row">

        <div *ngFor="let item of solution; index as i" class="col-lg-6 col-md-6 col-sm-12 panel-container">
            <div class="panel">
               <div class="panel-front">
                    <div class="panel-heading">
                       <img src="assets/images/managservice/ourServices-{{i+1}}.png">
                    </div>
                    <div class="panel-body">

                        <p>{{item.description}}</p>
                    </div>
                </div>
               <div class="panel-back {{item.color}}">
                    <h5>{{item.title}}</h5>
                    <p>{{item.description_2}}</p>
                </div> 
            </div>
        </div>
</div>
</div>
</section>    