<div class="main-banner">
    <ngb-carousel #carousel interval="5000" [showNavigationArrows]="showNavigationArrows" [pauseOnHover]="pauseOnHover"
        (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let info of banner; index as i">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{info.title}}</h1>
                    <h1>{{info.title_2}}</h1>
                    <h3>{{info.description}}</h3>
                    <button type="submit" class="btn btn-primary" (click)="lernmore();">LEARN MORE</button>
                    <button type="submit" class="btn btn-warning" (click)="btnClick();">CONTACT US</button>
                </div>
                <div class="info-img">
                    <img src="assets/images/banner-{{i+1}}-info.png" alt="My image {{i + 1}} description">
                </div>
            </div>
            <div class="picsum-img-wrapper">
                <img src="assets/images/banner-1.jpg" alt="My image {{i + 1}} description">
            </div>

        </ng-template>
    </ngb-carousel>
</div>
<section class="section-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1><span class="heading-highlight">Thrive</span> is a leading, vertically integrated </h1>
                <h6>
                    <b>Global pharmaceutical formulation development, manufacturing and marketing company headquartered in India and Abroad.</b><br>
                    Thrive ' success and incessant growth lies in clinical execution of successful and strategic moves <br>
                    made in the areas of manufacturing, and Global Brand Building, in the area of Human and Animal Health Care.
                </h6>
            </div>
            <div *ngFor="let item of solution" class="col-lg-4 col-md-4 col-sm-12 panel-container">
                <div class="panel">
                    <div class="panel-front {{item.color}}">
                        <div class="panel-heading">
                            <div class="icon-circle circle-bg">
                                <i class="icon icon-medium">
                                    <svg focusable="false">
                                        <use attr.xlink:href="{{item.icon}}"></use>
                                    </svg>
                                </i>
                            </div>
                            <h5>{{item.title}}</h5>
                        </div>
                        <div class="panel-body">

                            <p *ngFor="let data of item.list">{{data.name}}</p>
                        </div>
                    </div>
                    <div class="panel-back {{item.color}}">
                        <h5>{{item.title}}</h5>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-sevices">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1>We at <span class="heading-highlight">Thrive Therapeutic </span>Manufacture</h1>
                <h6>
                    <b>We ensure excellence in service through understanding of our client's business and their unique
                        requirements.</b><br>

                    Due to our close relationships and constant interactions with clients,<br>

                    we have developed solid understanding and insight in our focus industries that include:
                </h6>
            </div>

            <div *ngFor="let item of sevices" class="col-lg-4 col-md-4 col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="icon-circle {{item.color}}">
                            <i class="icon icon-medium">
                                <svg focusable="false">
                                    <use attr.xlink:href="{{item.icon}}"></use>
                                </svg>
                            </i>
                        </div>
                        <h5>{{item.title}}</h5>
                    </div>
                    <div class="panel-body">
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-projects">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1>OUR RECENT<span class="heading-highlight"> EVENTS</span></h1>
                <h6>
                    <b>As the pharma industry growing globally and looking for a high-quality product and low-cost pharma solutions.</b><br>

                    This event is for the companies who want to pick up the latest trends and innovations the market has to offer. 
                </h6>
            </div>
        </div>
        <div class="project-grid">
            <li *ngFor="let info of projects; index as i" class="p2">
                <a>
                    <figure>
                        <img src="assets/images/project/project-{{i + 1}}.jpg" alt="Experience">
                        <div class="show-more-overlay"></div>  
                        <figcaption>
                            <h2 class="show_more-title">{{info.title}}</h2>
                            <p class="show_more-desc">
                                {{info.description}}
                            </p>
                            <button *ngIf="i === 0" type="submit" class="btn btn-primary">LEARN MORE</button>
                        </figcaption>
                    </figure>
                </a>
            </li>
        </div>
    </div>
</section>

<div class="clear-float"></div>
<section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1>HAPPY <span class="heading-highlight">CLIENTS</span></h1>
                <h6>
                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                    accumsan et viverra justo commodo. <br>Proin sodales pulvinar tempor.lacus accumsan et viverra justo
                    commodo. Proin sodales pulvinar tempor.</h6>
            </div>

            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let client of client; index as i" class="slide col-lg-3 col-md-3 col-sm-12">
                    <img src="assets/images/logo{{i+1}}.png" alt="" width="100%">
                </div>
            </ngx-slick-carousel>

            <!-- <div *ngFor="let client of client; index as i" class="col-lg-3 col-md-3 col-sm-12">
                <img src="{{client.img}}-{{i+1}}.jpg" alt="client">
            </div> -->

        </div>
    </div>
</section>

<section class="testimonials">
    <img src="assets/images/testimonials.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1>TESTIMONIALS</h1>
                <ngb-carousel #carousel interval="5000" [showNavigationArrows]="showNavigationArrows"
                    [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
                    <ng-template ngbSlide *ngFor="let info of testimonials; index as i">
                        <p>
                            {{info.clientView_1}}
                        </p>
                        <p>
                            {{info.clientView_2}}
                        </p>
                        <p>
                            {{info.clientView_3}}
                        </p>
                        <p>
                            - {{info.clientName}}
                        </p>

                    </ng-template>
                </ngb-carousel>

            </div>

        </div>
    </div>
</section>
<section class="contact-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1>WHAT SET US <span class="heading-highlight">APART</span></h1>
                <p class="set-part">
                    We ensure excellence in service through understanding of our client's business and their unique
                    requirements.

                    Due to our close relationships and constant interactions with clients,

                    we have developed solid understanding and insight in our focus industries that include:
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div>
                            <h6>Address</h6>
                            <p>1/109,New Rajshree Ind Est.<br>

                                Chitlsar, Manpada,<br>

                                Thane (W) 400607,<br>

                                Mumbai, INDIA</p>

                            <h6>Contact</h6>
                            <p>
                                <a class="email-link" href="mailto:info@thriveworld.com">info@thriveworld.com</a><br>
                                Calling : +91 -22-25896399
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div>
                            <h6>Working Hours</h6>
                            <p>Monday To Friday: 11AM - 8PM<br>

                                Week-End: 11 AM - 2PM</p>


                            <h6>Socials</h6>
                            <div class="social-net">

                                <ul>
                                    <li><a href="https://www.facebook.com" target="_blank">
                                            <i class="icon icon-ex-small">
                                                <svg focusable="false">
                                                    <use xlink:href="#icon_facebook"></use>
                                                </svg>
                                            </i>
                                            <span>Facebook</span>
                                        </a>
                                    </li>
                                    <li><a href="https://www.instagram.com" target="_blank">
                                            <i class="icon icon-ex-small">
                                                <svg focusable="false">
                                                    <use xlink:href="#icon_instagram"></use>
                                                </svg>
                                            </i>
                                            <span>Tweeter</span>
                                        </a>
                                    </li>
                                    <li><a href="https://www.twitter.com" target="_blank">
                                            <i class="icon icon-ex-small">
                                                <svg focusable="false">
                                                    <use xlink:href="#icon_twitter"></use>
                                                </svg>
                                            </i>
                                            <span>Instragram</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1>GET IN <span class="heading-highlight">TOUCH</span></h1>
                <form>
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" name="name">
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Your Mail" name="yourMail">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                    <button type="submit" class="btn btn-warning">RESET</button>
                </form>
            </div>
        </div>
    </div>
</section>