<div class="inner-banner">
    <img src="assets/images/inner-banner-advance-solution.jpg">
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <h1>Advance solutions</h1>
                    <h6>Technical solution for all industries</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-advance-solution">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-9 col-sm-12 div-center center">
                <p class="running-text">
                    thriveworld  approaches each business as an individual so
                    that we can provide you with IT solutions that suit your needs.
                    We offer holistic solutions, consisting of different offerings.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 div-center">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>Digital Transformation</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu
                            fugiat nulla pariatur.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu
                            fugiat nulla pariatur.
                        </p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="assets/images/advancesoluton/advance-solution-1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">

        <div class="col-lg-10 div-center">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="assets/images/advancesoluton/advance-solution-2.png">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Digital Innovation</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>

                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 div-center">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>Digital Transformation</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu
                            fugiat nulla pariatur.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu
                            fugiat nulla pariatur.
                        </p>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="assets/images/advancesoluton/advance-solution-1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row info">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h6>Enterprise Solution</h6>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            <i class="icon icon-large">
                                <svg focusable="false">
                                    <use xlink:href="#icon_EnterpriseSol"></use>
                                </svg>
                            </i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h6>Intelligent Process Automation</h6>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            <i class="icon icon-large">
                                <svg focusable="false">
                                    <use xlink:href="#icon_Idea"></use>
                                </svg>
                            </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>